.navbar {
  width: 100%;
  color: white;
  font-size: 20px;
  top: 0;
  position: fixed;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

  &.scrolled {
    background-color: var(--main-color);
  }
}

.container {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  .left {
    display: flex;
    align-items: center;
    img {
      height: 40px;
      margin-right: 40px;
      transition: transform 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
    span {
      margin-right: 20px;
      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
        color: rgba(107, 35, 35, 0.6);
        text-decoration: underline;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    .icon {
      margin: 0px 15px;
      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
        color: rgba(107, 35, 35, 0.6);
        text-decoration: underline;
      }
    }
    .img1 {
      height: 60px;
      border-radius: 10px;
      object-fit: cover;
      cursor: pointer;
      transition: transform 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
    .profile {
      .options {
        display: none;
        -webkit-box-shadow: 1px -2px 18px 4px #02080c;
        box-shadow: 1px -2px 18px 4px #000000;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 5px;
      }
      span {
        padding: 10px;
        cursor: pointer;
      }
      &:hover {
        .options {
          display: flex;
          flex-direction: column;
          position: absolute;
        }
      }
    }
  }
}
