.navbar {
  color: white;
}

.container {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  .left {
    display: flex;
    align-items: center;
    img {
      height: 40px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    .img1 {
      height: 60px;
      border-radius: 10px;
      object-fit:cover;
      cursor: pointer;
    }
  }
}
